input {
  padding: 10px;
  width: 60%;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 50px;
  background-color: #ececec;
  border-color: #ececec;
}

.btnSign {
  margin: 50px auto;
  width: 300px;
  background: #20362c;
  text-align: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
}

.btnSign {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}

.imgdiv {
  border: 1px solid black;
  margin: 40px 50px;
  height: 400px;
}

main {
  display: grid;
  grid-template-columns: 1220px 2fr;
}
.cadastro {
  border: 1px solid rgb(175, 172, 172);
  border-radius: 10px;
  box-shadow: 5px 8px 10px rgb(110, 109, 109);
    grid-column: 2/2;
  width: 400px;
  color: #4e4e4e;
}

#sacola {
  position: absolute;
  top: 450px;
  margin-left: 500px;
  width: 400px;
}

#card-produtos {
  border-style: groove;
  border-radius: 10px;
  border-color: green;
}
