#resumo-pedido{
    position: absolute;
    padding-left: 700px;
}

.btnSign {
	margin: 4px auto;
	width: 150px;
	background: #20362c;
	text-align: center;
	padding: 10px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.4s ease;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
    border-radius: 50px;
}

.btnSign:hover{
    background: #339c6d;
    color: #000;
    font-weight: 900;
}

#card-carrinho{
	border: 1px solid rgb(0, 0, 0);
      border-radius: 10px;
      box-shadow: 2px 3px 4px rgb(110, 109, 109);
	  grid-column: 2/2;
  width: 400px;
  color: #4e4e4e;
}
