.intro{
    font-family: 'Nunito Sans', sans-serif;
    width: 750px;
    text-align: justify;
    margin: 60px 10px auto auto ;
    line-height: 1.8rem;
    font-size: 1.2rem
}

main{
    /* border: 1px solid black; */
    width: 75%;
    margin: 30px auto;
    padding: 30px;
    /*  height: 700px; */
}

.title{
    text-align: center;
    font-size: 2.7rem;
    padding-bottom: 10px;
}

.cart-icon{
    position: absolute;
	top: 240px;
	width: 800px;
	right: 850px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
}


.container {
	padding-bottom: 100px;
}

.input {
	display: flex;
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #fff;
	border: 1px solid;
	margin: 0 auto;
	padding: 15px;
	border-color: #dadada;
	box-shadow: #000000 0px 1px 1px 0px 1px;
	color: #474747;
	box-sizing: border-box;
	font-size: 14px;
	width: 50%;
	align-items: center;
	justify-content: space-around;
}

.button {
	display: flex;
	width: 120px;
	font-size: 1.2rem;
	background: #2b75ca;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 7px auto;
	justify-content: space-around;
}

.footer{
	position: absolute;
	top: 750px;
  }
