html,
body {
	margin: 0;
}

form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 80%;
	
	animation-name: fade;
	animation-duration: 500ms;
}

form h2 {
	margin-top: 30px;
	font-size: 42px;
	color: #1c3272;
	text-transform: uppercase;
	font-weight: bold;
}
label {
	text-align: left;
}

.inputs {
	display: flex;
	border: 1px solid rgb(175, 172, 172);
	border-radius: 10px;
	box-shadow: 5px 8px 10px rgb(110, 109, 109);
	margin: 20px 0 300px;
	flex-direction: column;
}

.inputs input {
	width: 300px;
	padding: 12px;
	margin: 10px 10px;
	border: 1px solid #c9c8c8;
	border-radius: 50px;
	font-size: 16px;
}

.btnSign {
	margin: 4px auto;
	width: 300px;
	background: #20362c;
	text-align: center;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}


.inputs h3 a {
	color: #233874;
	transition: all 0.3s ease;
}

.inputs h3 a:hover {
	color: #4165c9;
}

.formCadastrar {
	display: none;
}

.formCadastrar {
	height: 74%;
}

.formCadastrar h2 {
	margin-top: 12px;
	font-size: 26px;
}

.formCadastrar .inputs input {
	width: 320px;
	padding: 10px;
	margin: 8px 0;
}

.formCadastrar p a {
	font-size: 20px;
}
