/* CONFIG GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  overflow: scroll;
  background-color: rgb(243, 240, 240);
}
::-webkit-scrollbar {
  width: 0px;
}

.top {
  background: #20362c;
  padding: 15px;
  border-radius: 50px;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
form {
  text-align: center;
  margin: 50px 0;
}

.logo {
  float: left;
  margin-left: 130px;
  margin-top: 0;
}

/* MENU E HEADER*/
.menu .adminOp {
  display: none;
}

.menu .userOp {
  display: inline-block;
}

.menu {
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 120px;
  height: 30px;
}

.logout ul li a{
  color: rgb(247, 12, 12);
  cursor: pointer;
}

.itens {
  margin: 30px 0;
}

ul li a {
  color: gray;
}

ul li .ativo {
  color: gray;
}

.header::after,
.header::before {
  content: "";
  display: block;
  clear: both;
}

.header h1 {
  float: left;
  width: 0px;
}

.itens {
  list-style: none;
}
.itens li {
  display: inline-block;
  font-family: monospace;
  font-size: 1.8rem;
  margin-left: 15px;
  color: #fff;
}

.itens li a:hover,
li .logout:hover {
  color: #297a09;
}

.header {
  height: 80px;
  width: 100%;
  background-color: rgba(212, 210, 210, 0.082);
}

a,
a:visited {
  text-decoration: none;
  color: gray;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  position: absolute;
  font-size: 1.25em;
  padding: 10px 0;
  width: 80%;
  text-align: right;
}

.footer hr {
  margin-left: 20%;
  background-color: rgb(255, 255, 255);
}

/* LAYOUT CARD VAGAS */

title {
  display: grid;
  font-family: "Nunito Sans";
  font-size: 4rem;
  grid-template-rows: 48px 20px;
  line-height: 24px;
  text-align: center;
  color: #4e4e4e;
  overflow: hidden;
  font-weight: 600;
  padding-top: 70px;
}
.title span {
  font-size: 16px;
  text-align: center;
  color: #4e4e4e;
}

.title::after {
  margin-top: 5px;
  content: "";
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 25px;
}

#ProdutosCadastrados {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 40px;
  width: 1200px;
  margin: 0 auto;
}
.title {
  border: none;
  resize: none;
  width: 100%;
  height: 50px;
}
.product {
  height: 325px;
  width: 340px;
  border: 1px solid #dcdcdc;
  padding: 15px;
  box-sizing: border-box;
}

/* toast */

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(91, 204, 176);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animações */

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
#resumo-pedido{
    z-index: 2;
}

.card{
    z-index: 10;
}

.card:hover{
    transform: scale(1.09);
}