input {
  padding: 10px;
  width: 60%;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 50px;
  background-color: #ececec;
  border-color: #ececec;
  
}
.btnSign {
  margin: 50px auto;
  width: 300px;
  background: #20362c;
  text-align: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  
}

.btnSign:hover{
    background: #339c6d;
    color: #000;
    font-weight: 900;
}

.btnSign {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}

.footer{
  position: absolute;
  top: 1000px;
}


